PUBLIC_ORIGIN=https://nimduel.212.43.158.253.sslip.io
POSTGRES_PASSWORD=replace-with-random-hex-password
PAYMENTS_ENABLED=testnet
PAYMENT_NETWORK=testalbatross
PAYMENT_DB_NAME=nimduel
TREASURY_KEY_FILE=test-treasury.key
